{
	admin off
}

:{$PORT:8080}

redir /starterpack https://daylight-rescue.a12kk.chatgpt.site 308
redir /starterpack/ https://daylight-rescue.a12kk.chatgpt.site 308

root * /srv
file_server
encode gzip

header /apps/*.apk Content-Type application/vnd.android.package-archive
